{% extends "base.html" %}
{% load bootstrap4 %}

{% block page_title %}Modify Profile{% endblock page_title %}


{% block content %}
  <h1>Change my details</h1>
  <form class="form-horizontal" method="post" action="{% url 'users:update' %}">
    {% bootstrap_form_errors form %}
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </div>
  </form>
{% endblock %}
