{% extends "base.html" %}
{% load static bootstrap4 %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
  <div class="container">
    {% bootstrap_messages %}
    <div class="row mt-4">
      <div class="col-sm-10">

        <h2>{{ object.username }}</h2>
        {% if object.name %}
          <p>{{ object.name }}</p>
        {% endif %}
        {% if object.email %}
          <p>{{ object.email }}</p>
        {% endif %}
      </div>

      <div class="col-sm-2">
        <img src="
          {% if object.profile_img %}
            {{ object.profile_img }}
          {% else %}
            {% static 'images/profile_default' %}
          {% endif %}
          " class="img-circle img-responsive" alt="Profile Image"/>
      </div>
    </div>

    <br>

    {% if object == request.user %}
      <h2>My Availability</h2>
      <div class="row mt-3">

        <div class="col-sm-6">
          <form class="form" method="post">
            {% bootstrap_form_errors form %}
            <div class="form-group">
              {% csrf_token %}
              {% bootstrap_form form %}
              {% buttons %}
                <input type="submit" value="Add" class="submit btn btn-primary" role="button">
              {% endbuttons %}
            </div>
          </form>
        </div>

        <div class="col-sm-6">
          <h3>Current Availability</h3>
          <table class="table">
            <thead>
            <tr>
              <th scope="col">Available</th>
              <th scope="col">Availability Added On</th>
            </tr>
            </thead>
            <tbody>
            {% for avail in user.availability.all %}
              <tr>
                <td>{{ avail.date_available|date }}</td>
                <td>{{ avail.date_added|date }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    {% endif %}


  </div>
{% endblock content %}

{% block js %}
  {% bootstrap_javascript jquery='full' %}
  {{ form.media }}
{% endblock js %}

