{% extends "base.html" %}
{% load static bootstrap4 %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
  <div class="container">
    {% bootstrap_messages %}
    <div class="row mt-4">
      <div class="col-sm-10">

        <h2>{{ object.name }}</h2>
        {% if object.email %}
          <p>{{ object.email }}</p>
        {% endif %}
      </div>

      <div class="col-sm-2">
        <img src="
          {% if object.profile_img %}
            {{ object.profile_img.url }}
          {% else %}
            {% static 'images/profile_default' %}
          {% endif %}
          " class="img-circle img-responsive" alt="Profile Image"/>
      </div>
    </div>

    <br>

    {% if object == request.user %}
      {% if object.waiting_list_position > 0 %}
        <h3>You are #{{ object.waiting_list_position }} on the waiting list</h3>
      {% elif not object.has_susu_membership %}
        <h3>Please ensure you have purchased the correct SUSU membership <a
                href="https://www.susu.org/groups/sugc#fees">here</a></h3>
        <p>If you have already bought membership, please bare with us, we check each membership manually!</p>
      {% else %}
        <h2>My Availability</h2>
        <div class="row mt-3">

          <div class="col-sm-6">
            <form class="form" method="post">
              {% bootstrap_form_errors form %}
              <div class="form-group">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                  <input type="submit" value="Add" class="submit btn btn-primary" role="button">
                {% endbuttons %}
              </div>
            </form>
          </div>

          <div class="col-sm-6">
            <h3>Current Availability</h3>
            <table class="table">
              <thead>
              <tr>
                <th scope="col">Available</th>
                <th scope="col">Availability Added On</th>
              </tr>
              </thead>
              <tbody>
              {% for avail in user.availability.all %}
                <tr>
                  <td>{{ avail.date_available|date }}</td>
                  <td>{{ avail.date_added|date }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <div class="row mt-3">
          <h3>My Flights</h3>
          <i>This is not a replacement for your logbook!</i>
          <div class="col-sm-12">
            <table class="table">
              <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Aircraft</th>
                <th scope="col">Duration</th>
                <th scope="col">Pilot Capacity</th>
                <th scope="col">Training Launch Fail?</th>
                <th scope="col">Real Launch Fail?</th>
              </tr>
              </thead>
              <tbody>
              {% for flight in user.flights.all %}
                <tr>
                  <td>{{ flight.date|date:"D dS N Y" }}</td>
                  <td>{{ flight.aircraft.registration }}</td>
                  <td>{{ flight.duration }}</td>
                  <td>{{ flight.capacity }}</td>
                  <td>{{ flight.is_train_launch_failure }}</td>
                  <td>{{ flight.is_real_launch_failure }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <div class="row mt-3">
          <h3>My Fees</h3>
          <i>Only unpaid fees are displayed here. If you have recently paid, please bare with us;
            payments are manually checked!</i>
          <div class="col-sm-12">
            <table class="table">
              <thead>
              <tr>
                <th scope="col">Flying Date</th>
                <th scope="col">Amount Due</th>
              </tr>
              </thead>
              <tbody>
              {% for invoice in user.unpaid_invoices.all %}
                <tr>
                  <td>{{ invoice.date|date:"D dS N Y" }}</td>
                  <td>{{ invoice.balance }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      {% endif %}
    {% endif %}


  </div>
{% endblock content %}

{% block js %}
  {% bootstrap_javascript jquery='full' %}
  {{ form.media }}
{% endblock js %}

