{% extends "base.html" %}
{% load static bootstrap4 avatar_tags django_tables2 %}

{% block page_title %}My Profile{% endblock page_title %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
  <div class="container">
    {% if object == request.user %}
      {% bootstrap_messages %}
      <div class="row mt-4">
        <div class="col-sm-10">

          <h2>{{ object.first_name }} {{ object.last_name }}</h2>
          {% if object.email %}
            <p>{{ object.email }}</p>
          {% endif %}
          <a class="btn btn-outline-secondary" role="button" href="{% url 'users:update' %}">Edit My Details</a>
        </div>

        <div class="col-sm-2">
          <a href="{% url 'avatar_change' %}">
            {% avatar user 130 class="img-fluid rounded-circle" id="user_avatar" %}
          </a>
        </div>
      </div>

      <br>


      {% if object.on_waiting_list %}
        <div class="center-block m-5">
          <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar"
                 aria-valuenow="{{ object.waiting_list_position|slice:"2:3"|join:"" }}" aria-valuemin="0"
                 aria-valuemax="{{ object.waiting_list_position|slice:"1:2"|join:"" }}"
                 style="width:{{ object.waiting_list_position|slice:"2:3"|join:"" }}%">
            </div>
          </div>
          <div class="text-center m-5">
            <h2>You are #{{ object.waiting_list_position|slice:"0:1"|join:"" }} on the waiting
              list</h2>
            <p>We manage the waiting list manually, if you have just signed up please bare with us!</p>
          </div>
        </div>
      {% elif not object.has_susu_membership %}
        <h3>Please ensure you have purchased the correct SUSU membership <a
                href="https://www.susu.org/groups/sugc#fees">here</a></h3>
        <p>If you have already bought membership, please bare with us, we check each membership manually!</p>
      {% else %}
        <h2>My Availability</h2>
        <div class="row mt-3">

          <div class="col-sm-6">
            <form class="form" method="post">
              {% bootstrap_form_errors form %}
              <div class="form-group">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                  <input type="submit" value="Add" class="submit btn btn-primary right" role="button">
                {% endbuttons %}
              </div>
            </form>
          </div>

          <div class="col-sm-6">
            <h3>Current Availability</h3>
            <table class="table">
              <thead>
              <tr>
                <th scope="col">Available</th>
                <th scope="col">Availability Added On</th>
              </tr>
              </thead>
              <tbody>
              {% for avail in avail_list %}
                <tr>
                  <td>{{ avail.date_available|date }}</td>
                  <td>{{ avail.date_added|date }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <hr>
        <div class="row pt-5">
          <h2>My Flights</h2>
          <i>This is not a replacement for your logbook!</i>
          <div class="col-sm-12">
            {% render_table table %}
          </div>
        </div>
        <hr>
        <div class="row pt-5 pb-5">
          <h2>My Fees</h2>
          <i>Only unpaid fees are displayed here. If you have recently paid, please bare with us;
            payments are manually checked!</i>
          <div class="col-sm-12">
            <table class="table">
              <thead>
              <tr>
                <th scope="col">Flying Date</th>
                <th scope="col">Amount Due</th>
              </tr>
              </thead>
              <tbody>
              {% for invoice in user.unpaid_invoices.all %}
                <tr>
                  <td>{{ invoice.date|date:"d/m/Y" }}</td>
                  <td>£{{ invoice.balance|floatformat:2 }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      {% endif %}
    {% else %}
      <h2>You can only view your own profile!</h2>
    {% endif %}


  </div>
{% endblock content %}

{% block js %}
  {% bootstrap_javascript jquery='full' %}
  {{ form.media }}
{% endblock js %}

