{% extends "account/base.html" %}
{% load crispy_forms_filters %}

{% load i18n %}
{% load crispy_forms_tags bootstrap4 %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner %}
  <h1>{% trans "Sign Up" %}</h1>

  <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
  {% bootstrap_form_errors form %}
  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
  </form>

{% endblock %}

{% block js %}
  {% bootstrap_javascript jquery='full' %}
  {{ form.media }}
{% endblock %}

