{% extends 'admin/base_site.html' %}
{% load bootstrap4 django_tables2 %}
{% block page_title %}Flying Lists{% endblock page_title %}

{% block extrahead %}
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}
  {{ form.media }}
{% endblock extrahead %}

{% block content %}
  <h2>Flying List Creation</h2>

  <form method="post" id="flyingListForm"
        data-drivers-url="{% url 'admin:ajax_available_drivers' %}"
        data-members-url="{% url 'admin:ajax_available_members' %}"
        novalidate>
    {% csrf_token %}
    <div class="form-group">
      {{ form.non_field_errors }}
      <table>
        <tr>
          {{ form.date.errors }}
          <th><label for="{{ form.date.id_for_label }}">Flying List Date:</label></th>
          <td>
            {{ form.date }}
          </td>
        </tr>
        {#        {{ form.as_table }}#}
      </table>
      <br>
      <h4>Drivers</h4>
      {{ form.driver.errors }}
      {% render_table drivers_table %}
      <br>
      <h4>Members</h4>
      {{ form.members.errors }}
      {% render_table members_table %}

    </div>
    <div class="submit-row">
      <input class="default" type="submit" value="Save" name="_save">
    </div>
  </form>

  <script>
    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $("#id_date").on("dp.change", function () {
      const form = $("#flyingListForm");
      const drivers_url = form.attr("data-drivers-url");
      const members_url = form.attr("data-members-url");
      const date = $(this).val();
      $.ajax({
        url: drivers_url,
        data: {
          'date': date
        },
        beforeSend: function (xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        },
        success: function (data) {
          $("#driversTable > tbody").html(data);
        }
      });
      $.ajax({
        url: members_url,
        data: {
          'date': date
        },
        beforeSend: function (xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        },
        success: function (data) {
          $("#membersTable > tbody").html(data);
        }
      });
    });
  </script>
{% endblock content %}
