<li><a href="{% url 'home' %}">Home</a></li>
<li>
  <a href="{% url 'about' %}">About SUGC</a>
  <ul>
    <li><a href="{% url 'typical_day' %}">A Typical Day</a></li>
    <li><a href="{% url 'expeditions' %}">Expeditions</a></li>
    <li><a href="{% url 'joining' %}">How to Join</a></li>
    <li><a href="{% url 'faq' %}">FAQs</a></li>
  </ul>
</li>
<li><a href="{% url 'what_is_gliding' %}">What's Gliding?</a></li>
<li><a href="blog/">Blog</a></li>
<li><a href="{% url 'account_login' %}">Login</a></li>
