{% load static %}
<a class="navbar-brand" href="{% url 'home' %}">
  <img src="{% static 'images/icon.webp' %}" width="80" height="59" class="d-inline-block align-top" alt="">
</a>
<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarResponsive">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item {{ navbar_drop }}">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false">
        About SUGC
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
        <a class="dropdown-item" href="{% url 'about' %}">About the Club</a>
        <a class="dropdown-item" href="{% url 'typical_day' %}">A Typical Day</a>
        <a class="dropdown-item" href="{% url 'expeditions' %}">Expeditions</a>
        <a class="dropdown-item" href="{% url 'joining' %}">Joining</a>
        <a class="dropdown-item" href="{% url 'faq' %}">FAQ</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'what_is_gliding' %}">What is gliding?</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="blog/">Blog</a>
    </li>

    {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'users:detail' user.username %}">Profile</a>
      </li>
      {% if user.is_staff %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'admin:index' %}">Staff</a>
        </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
      </li>
    {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
      </li>
    {% endif %}

  </ul>
</div>
