{% load static i18n compress bootstrap4 %}<!DOCTYPE html><!DOCTYPE HTML>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Southampton University Gliding Club">
  <meta name="author" content="Aliaksei Pilko">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon.png' %}">

  <title>{% block page_title %}SUGC{% endblock page_title %}</title>

  {% block css %}
    {% bootstrap_css %}
    {% compress css %}
      <link href="{% static 'css/main.css' %}" rel="stylesheet">
    {% endcompress css %}
  {% endblock css %}
</head>

<body>
{% block root_body %}
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top bg-sugc-blue">
    <div class="container">
      {% with navbar_drop='dropdown' %}
        {% include '_navbar.html' %}
      {% endwith %}
    </div>
  </nav>

  {% block root_header %}
    <header>
      {% block header %}
      {% endblock header %}
    </header>
  {% endblock root_header %}

  {% block root_content %}
    <!-- Page Content -->
    <div class="container">
      {% block content %}
      {% endblock content %}
    </div>
    <!-- /.container -->
  {% endblock root_content %}

  {% block root_footer %}
    <!-- Footer -->
    <footer class="py-5 footer mt-3 bg-sugc-blue">
      {% block footer %}
        <div class="container">
          <p class="m-0 text-center text-white">Copyright &copy; SUGC 2020</p>
        </div>
      {% endblock footer %}
      <!-- /.container -->
    </footer>
  {% endblock root_footer %}

{% endblock root_body %}

{% block js %}
  <!-- Bootstrap core JavaScript -->
  {% bootstrap_javascript jquery='full' %}
  {% compress js %}
  {% endcompress js %}
{% endblock js %}

</body>

</html>
