{% load static i18n compress bootstrap4 %}<!DOCTYPE html><!DOCTYPE HTML>
<html lang="en">

<head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161752964-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-161752964-1');
  </script>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Southampton University Gliding Club">
  <meta name="author" content="Aliaksei Pilko">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon.png' %}">

  <title>{% block page_title %}SUGC{% endblock page_title %}</title>

  {% block css %}
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css"/>
    {% compress css %}
      <link href="{% static 'css/main.css' %}" rel="stylesheet">
    {% endcompress css %}
  {% endblock css %}
</head>

<body>
{% block root_body %}
  <div class="content-container">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top bg-sugc-blue">
      <div class="container">
        {% with navbar_drop='dropdown' %}
          {% include '_navbar.html' %}
        {% endwith %}
      </div>
    </nav>

    {% block root_header %}
      <header>
        {% block header %}
        {% endblock header %}
      </header>
    {% endblock root_header %}

    {% block root_content %}
      <!-- Page Content -->
      <div class="container">
        {% block content %}
        {% endblock content %}
      </div>
      <!-- /.container -->
    {% endblock root_content %}
  </div>

  {% block root_footer %}
    <!-- Footer -->
    <footer class="py-5 mt-3 footer bg-sugc-blue">
      {% block footer %}
        {#        <div class="container">#}
        {#          <p class="m-0 text-center text-white">Copyright &copy; SUGC 2020</p>#}
        {#        </div>#}
        <div class="container">
          <div class="row">
            <div class="col-md-6 align-center">
              <span class="copyright text-center text-white">Copyright © SUGC 2020</span>
            </div>
            <div class="col-md-6">
              <div class="rounded shadow-sm footer-social text-center">
                <a href="https://www.facebook.com/sugliding" class="btn btn-light btn-circle"><i
                        class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/southampton_gliding/" class="btn btn-light btn-circle"><i
                        class="fab fa-instagram"></i></a>
                <a href="mailto:gliding@soton.ac.uk" class="btn btn-light btn-circle"><i
                        class="fas fa-envelope"></i></a>
              </div>
            </div>
          </div>
        </div>
      {% endblock footer %}
      <!-- /.container -->
    </footer>
  {% endblock root_footer %}

  <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
  <script>
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#093162"
        },
        "button": {
          "background": "#ffbe4a"
        }
      },
      "theme": "edgeless",
      "position": "top",
      "static": true
    });
  </script>

{% endblock root_body %}

{% block js %}
  <!-- Bootstrap core JavaScript -->
  {% bootstrap_javascript jquery='full' %}
  <script src="https://kit.fontawesome.com/081c6eecef.js" crossorigin="anonymous"></script>
  {% compress js %}
  {% endcompress js %}
{% endblock js %}

</body>

</html>
