{% extends 'base.html' %}
{% block content %}
  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">FAQ</h1>

  <div class="mb-4" id="accordion" role="tablist" aria-multiselectable="false">

    <div class="card">
      <div class="card-header" role="tab" id="headingOne">
        <h5 class="mb-0">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false"
             aria-controls="collapseOne">What does SUGC stand for?</a>
        </h5>
      </div>

      <div id="collapseOne" class="collapse " role="tabpanel" aria-labelledby="headingOne">
        <div class="card-body">
          Southampton University Gliding Club. We are a student run society with the purpose to introduce students to
          the thrill of soaring and allow advanced pilots to achieve new heights!
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" role="tab" id="headingTwo">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
             aria-controls="collapseTwo">What does SUGC do?
          </a>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="card-body">
          We go gliding, of course! Our members often start with no experience, and we go flying each weekend; mostly to
          enjoy ourselves, but also to learn about the sport. We have had members progress from pre-solo all the way to
          (nearly) instructor level in their time in the society. We also go on expeditions to other clubs and try to
          get involved with the nationwide gliding community wherever possible!
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" role="tab" id="headingThree">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
             aria-expanded="false" aria-controls="collapseThree">What are expeditions?</a>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="card-body">
          We always try to attend the main gliding events for junior glider pilots around the country. UK Junior Gliding
          always organise three meets in the Winter (the Winter Series), as well as a National Competition (Junior
          Nationals) and some training events during the summer too (Summer Series). In addition, there is an Inter-Uni
          Gliding competition held each year. Aside from the Junior Nationals, these events are open to everyone. They
          are hugely fun, and allow us to experience new types of flying around the country.

          In addition, we also try to organise a trip specifically for SUGC each year.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" role="tab" id="headingFour">
        <h5 class="mb-0">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false"
             aria-controls="collapseFour">Do I have to be a student?</a>
        </h5>
      </div>

      <div id="collapseFour" class="collapse " role="tabpanel" aria-labelledby="headingFour">
        <div class="card-body">
          Yes, you must be enrolled as a current student at the University of Southampton. Alumni and students of other
          universities should contact their own university or the British Gliding Association to find out if they have
          their own university society. Alternatively, you can join Shalbourne as a junior member and we’ll see you
          there!
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" role="tab" id="headingFive">
        <h5 class="mb-0">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false"
             aria-controls="collapseFive">Are there any other limitations on who can join?</a>
        </h5>
      </div>

      <div id="collapseFive" class="collapse " role="tabpanel" aria-labelledby="headingFive">
        <div class="card-body">
          As a society, we make absolutely no discrimination on age, gender, race, subject studied or anything like
          that. The only limitations are related to safety or aviation laws and are rules which would apply to any
          gliding club. Find out more in the Gliding FAQ section.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" role="tab" id="headingSix">
        <h5 class="mb-0">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false"
             aria-controls="collapseSix">How many members are there?</a>
        </h5>
      </div>

      <div id="collapseSix" class="collapse " role="tabpanel" aria-labelledby="headingSix">
        <div class="card-body">
          We have to limit the number of members each year. Of course we want everyone to be a part of our society, but
          we have to find a balance between the number of people we introduce to flying and the frequency each member
          can fly to be able to progress. If we get full, we will make a waiting list and whenever we have free spaces
          to fly each weekend, we contact those people.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" role="tab" id="headingSeven">
        <h5 class="mb-0">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false"
             aria-controls="collapseSeven">Who runs the society?</a>
        </h5>
      </div>

      <div id="collapseSeven" class="collapse " role="tabpanel" aria-labelledby="headingSeven">
        <div class="card-body">
          We have a committee that includes a Captain, Treasurer, Secretary, Events Officer, Publicity Officer and
          Social Secretary. The committee is elected each year by the current members, and is made up entirely of
          student members.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" role="tab" id="headingEight">
        <h5 class="mb-0">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false"
             aria-controls="collapseEight">Where is SUGC based?</a>
        </h5>
      </div>

      <div id="collapseEight" class="collapse " role="tabpanel" aria-labelledby="headingEight">
        <div class="card-body">
          SUGC does not have it’s own airfield. Instead, we travel to Shalbourne Gliding Club near Andover and use their
          facilities.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" role="tab" id="headingNine">
        <h5 class="mb-0">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false"
             aria-controls="collapseNine">When does SUGC go flying?</a>
        </h5>
      </div>

      <div id="collapseNine" class="collapse " role="tabpanel" aria-labelledby="headingNine">
        <div class="card-body">
          SUGC is able to fly whenever Shalbourne is open. This is typically one weekday (usually Wednesday) as well as
          both days at the weekend, as well as any Bank Holidays. We are there all day, from 8am until it goes dark, and
          try to fly as much as possible in that time.

          What do I have to pay?
          Trial Flight – £30
          Full Year Membership – £50 + flying fees
          Flying fees:

          £7 per launch (<26yrs) or £9 per launch (26+)
          Third launch is always free!
          27p/min glider rental (<26yrs) or 35p/min (26+)

          The only other costs are related to travel. We arrange a lift share to the airfield but we ask that you
          contribute towards the drivers fuel costs.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" role="tab" id="headingTen">
        <h5 class="mb-0">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false"
             aria-controls="collapseTen">Collapsible Group Item #1</a>
        </h5>
      </div>

      <div id="collapseTen" class="collapse " role="tabpanel" aria-labelledby="headingTen">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
          officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
          moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
          keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
          butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
          haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" role="tab" id="headingSeven">
        <h5 class="mb-0">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false"
             aria-controls="collapseSeven">Collapsible Group Item #1</a>
        </h5>
      </div>

      <div id="collapseSeven" class="collapse " role="tabpanel" aria-labelledby="headingSeven">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
          officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
          moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
          keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
          butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
          haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" role="tab" id="headingTwelve">
        <h5 class="mb-0">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve" aria-expanded="false"
             aria-controls="collapseTwelve">Collapsible Group Item #1</a>
        </h5>
      </div>

      <div id="collapseTwelve" class="collapse " role="tabpanel" aria-labelledby="headingTwelve">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
          officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
          moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
          keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
          butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
          haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" role="tab" id="headingThirteen">
        <h5 class="mb-0">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen" aria-expanded="false"
             aria-controls="collapseThirteen">Collapsible Group Item #1</a>
        </h5>
      </div>

      <div id="collapseThirteen" class="collapse " role="tabpanel" aria-labelledby="headingThirteen">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
          officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
          moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
          keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
          butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
          haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" role="tab" id="headingSeven">
        <h5 class="mb-0">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false"
             aria-controls="collapseSeven">Collapsible Group Item #1</a>
        </h5>
      </div>

      <div id="collapseSeven" class="collapse " role="tabpanel" aria-labelledby="headingSeven">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
          officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
          moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
          keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
          butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
          haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>

  </div>
{% endblock content %}
