{% extends 'base.html' %}
{% block page_title %}A typical day{% endblock page_title %}

{% block content %}
  <h1 class="mt-4 mb-3">A Typical Day</h1>

  <div class="row">
    <div class="col-md-7">
      <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/300" alt="">
    </div>
    <div class="col-md-5">
      <h3>Apply for flying</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at
        voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet
        unde.</p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-7">
      <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/300" alt="">
    </div>
    <div class="col-md-5">
      <h3>Some flying stuff</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at
        voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet
        unde.</p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-7">
      <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/300" alt="">
    </div>
    <div class="col-md-5">
      <h3>Pay your fees</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at
        voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet
        unde.</p>
    </div>
  </div>

{% endblock content %}
