{% extends 'base.html' %}
{% block page_title %}What is Gliding?{% endblock page_title %}

{% block content %}
  <h1 class="mt-4 mb-3">What is Gliding?</h1>

  {#  <img class="img-fluid rounded mb-4" src="http://placehold.it/1200x300" alt="">#}

  <div class="row mt-3">
    <p>
      Gliding involves flying unpowered aircraft using the same naturally occurring currents of air that birds use to
      fly.
      Using these invisible currents of air, you can soar to great heights and travel great distances
      around the country at average speeds of over 100 miles per hour.
    </p>
    <p>
      Gliders are similar to normal aircraft, just without an engine. We exploit rising air in the atmosphere to stay
      airborne
      – at least that’s the idea! People glide for many reasons. Some use it as a stepping stone to a full pilots
      licence,
      but the real joy of gliding is when it’s treated as a sport.
    </p>
  </div>

  <h3 class="mt-5">How do gliders stay airborne?</h3>

  <div class="row mt-4">

    <div class="col portfolio-item">
      <div class="card h-100">
        {#        <img class="card-img-top" src="http://placehold.it/700x400" alt="">#}
        <div class="card-body">
          <h4 class="card-title">Thermals</h4>
          <p class="card-text">
            These are columns of rising air caused by the sun unevenly heating the ground.
            This the most common kind of lift we see.
          </p>
        </div>
      </div>
    </div>

    <div class="col portfolio-item">
      <div class="card h-100">
        {#        <img class="card-img-top" src="http://placehold.it/700x400" alt="">#}
        <div class="card-body">
          <h4 class="card-title">Ridge Lift</h4>
          <p class="card-text">
            This is caused by air being pushed upwards when it blows towards a slope. We fly along the ridge to exploit
            this.
          </p>
        </div>
      </div>
    </div>

    <div class="col portfolio-item">
      <div class="card h-100">
        {#        <img class="card-img-top" src="http://placehold.it/700x400" alt="">#}
        <div class="card-body">
          <h4 class="card-title">Mountain Wave</h4>
          <p class="card-text">
            These are currents of air that rise over the top of mountains and then sink back down
            and rebound up, this can continue for hundreds of miles.
          </p>
        </div>
      </div>
    </div>

  </div>

{% endblock content %}
