{% extends 'base.html' %}
{% block page_title %}What is Gliding?{% endblock page_title %}

{% block content %}
  <h1 class="mt-4 mb-3">What is Gliding?</h1>

  <img class="img-fluid rounded mb-4" src="http://placehold.it/1200x300" alt="">

  <div class="row mt-3">
    {% lorem %}
  </div>

  <div class="row mt-5">
    <div class="col-lg-3 col-sm-6 portfolio-item">
      <div class="card h-100">
        <img class="card-img-top" src="http://placehold.it/700x400" alt="">
        <div class="card-body">
          <h4 class="card-title">Experience</h4>
          <p class="card-text">
            Never even heard of gliding? Come and do a trial flight with us and see what all the fuss it about!
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-sm-6 portfolio-item">
      <div class="card h-100">
        <img class="card-img-top" src="http://placehold.it/700x400" alt="">
        <div class="card-body">
          <h4 class="card-title">Train</h4>
          <p class="card-text">
            Most of our members join with zero experience, and start by training for their first solo flight!
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-sm-6 portfolio-item">
      <div class="card h-100">
        <img class="card-img-top" src="http://placehold.it/700x400" alt="">
        <div class="card-body">
          <h4 class="card-title">Achieve</h4>
          <p class="card-text">
            Solo is just the start of the journey. Achieve badges or set your own goals.
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-sm-6 portfolio-item">
      <div class="card h-100">
        <img class="card-img-top" src="http://placehold.it/700x400" alt="">
        <div class="card-body">
          <h4 class="card-title">Compete</h4>
          <p class="card-text">
            All of our members have the opportunity to compete at the inter-unis.
          </p>
        </div>
      </div>
    </div>

  </div>

{% endblock content %}
